@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  button{
    font-family: "Quicksand", serif;
  }
  /* Shared-css */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .text-center{
    text-align: center;
  }
  img{
    max-width: 100%;
  }
  .container{
    max-width: 1160px;
    margin: 0 auto;
  }

  /* header-section-style */
 .header{}
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-logo img{}
  .nav-logo h1{
    font-size: 2rem;
    line-height: 30px;
  }
  .nav-menu{}
  .nav-menu ul{
    display: flex;
    gap: 32px;
  }
  .nav-menu ul li{
    list-style: none;
  }
  .nav-menu ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
  }
  .nav-menu ul li:nth-child(1) a{
    color:#FEA301;
    font-weight: 700;
  }
  .nav-menu ul li:nth-child(2) a{
    color:#01ACFD;
  }
  .nav-menu ul li:nth-child(3) a{
    color: #05D4DF;
  }
  .nav-menu ul li:nth-child(4) a{
    color: #5D58EF;
  }
  .nav-button{}
  .nav-button .nav-btn{
    width: 197px;
    padding: 10px;
    background-color: #FEA301;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
   
  }
  .nav-icon{
    display: none;
  }
  .nav-icon span{
    font-size: 1.87rem;
  }






  /* Responsive For Mobile First Approach */
  @media screen and (max-width: 576px) {
    .navbar{
        padding:12px 15px;
        border-bottom: 1px solid #FEA301;
    }
    .nav-logo h1{
        display: none;
      }
        .nav-menu{
            display: none;
        }
        .nav-button{
            display: none;
        }
        .nav-icon{
            display: block;
        }
  }